certifi==2024.2.2
charset-normalizer==2.1.1
idna==3.7
llvmlite==0.39.1
Mako==1.2.1
MarkupSafe==2.1.5
numba==0.56.0
numpy==1.22.0
pandas==1.4.3
pillow==10.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.28.1
scipy==1.9.0
six==1.16.0
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
typing_extensions==4.11.0
urllib3==1.26.18
